body{
  font-family:'Times New Roman', Times, serif;
  font-size:115%;
}
header{
  background-color:gray;
}
nav{
  background-color:aqua;
}
main{
  background-color:navy;
  font-size:120%;
  color:white;
}
footer{
  background-color:black;
  color:white;
}
li{
  display:table-cell;
  width:90%;
}
h1{
  text-align:center;
  font-family:'Times New Roman', Times, serif;;
  color:white;
  background-color:black;
  text-shadow:3px 3px 5px #2658d7; 
}
p{
  line-height:115%;
}
nav a:hover{ /*hover portion is psudocode that has different options for links in nav*/
            color:#DDB4E8;
            background-color:aliceblue;
        }
